# 配置 sharp 安装选项（如果需要）
# sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
# sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download/

# 包含可选依赖
include=optional